<h1 class="text-center">The Japlan</h1>
<h3 class="text-center">A Japan travel blog by Harriet &amp; Jeroen</h3>
<p class="text-center"><em>The latter of whom is still creating this website. He should hurry. Stay tuned though!</em></p>
