$navbar-height: 60px;

.nb {
  position: fixed;
  height: $navbar-height;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 20px;

  display: flex;
  align-items: center;

  .nb-left  { margin-right: auto; }
  .nb-center { position: absolute; left: auto; right: auto; }
  .nb-right { margin-left: auto; }

  h2 {
    margin: 0;
    font-size: 40px;
  }
}

body {
  padding-top: $navbar-height;
}
